.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(1, 71, 136);

    position: fixed;
    top:50px;
    height: 100%;
    overflow: auto;
    display: block;
    z-index:99;
    transition: 0.5s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.164), 3px 1px 12px rgba(0, 0, 0, 0.192);
}

.sidebar a {
display: block;
padding: 16px;
text-decoration: none;
}

.sidebar a.active {
background-color: #4CAF50;
color: white;
}

.sidebar a:hover:not(.active) {
color: crimson;
}

@media screen and (max-width: 800px) {

    .sidebar{width:0;}

    .sidebar.responsiveSidebar{
            display: block;
            width: 200px;
    }
    .sidebar.responsiveSidebar a{
        color:white
    }


}
 @media screen and (min-width: 800px) {
  .sidebar.responsiveSidebar{
            width: 0px;
    }

}
.p-widget li.p-menptem{
  background-color:#f2f2f2 !important;
  border: medium none !important;
  border-radius: 4px 4px 0 0 !important;
  }


 :host ::ng-deep  {
  .p-panelmenu *{
    border:none;
  }
  .p-panelmenu .p-panelmenu-content{
      background-color: rgb(255, 250, 250)!important;
      font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .p-panelmenu .p-panelmenu-header > a {
    background-color: rgba(255, 255, 255, 0.877)!important;
    border:none;
    border-radius: 0!important;
  }
  .p-panelmenu *{
    font-size: 0.9rem;
  }
  .p-panelmenu .p-panelmenu-header > a:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0 orange;

  }
  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
    transition: 0.2s;
  }

  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }

  .actives{
    border-right:2px solid tomato!important;
    font-weight:500;
  }

}


