.topnav{
    overflow: hidden;
    position: fixed;
    width:100%;
    min-width: 145px;
    height: 50px;
    top:0px;
    background-color: #0097a7;
    z-index:2;
    transition:all 0.5s;
  }
.loginPage{
    position:fixed;
    background-color: darkslategray;
    width: 100%;
    height: 100vh;
}
.loginPanel{
    max-width:400px;
    padding:25px;
    margin: auto;
    margin-top:10%;
    border-radius: 5px;
    background-color: white;
}
.loginPanel input{
    background-color: whitesmoke;
    overflow: hidden;
}
@media screen and (max-width: 400px) {
    .loginPanel{
        margin:20px!important;
        margin-top: 10%;;
    }
}