.topnav{
    overflow: hidden;
    position: fixed;
    width:100%;
    min-width: 145px;
    height: 50px;
    top:0px;
    background-color: #0096a773;
    z-index:2;
    transition:all 0.5s;
    display: flex;

    .btn-home{
      background-color: rgba(13, 46, 95, 0.411);
      border: none;
      border-radius: 0;
    }
  }
.loginPage{
    position:fixed;
    background-color: rgb(49, 121, 180);
    width: 100%;
    height: 100vh;
}
.loginPanel{
    max-width:400px;
    padding:25px;
    margin: auto;
    margin-top:150px;
    border-radius: 5px;
    background-color: white;
}
.loginPanel *{
  font-size: 1.1rem;
}
.loginPanel input{
    background-color: whitesmoke;
    overflow: hidden;
}
@media screen and (max-width: 400px) {
    .loginPanel{
        margin:20px!important;
        margin-top: 150px!important;
    }
}
