<p-toast position="bottom-center"></p-toast>
<p-confirmDialog [style]="{width: '450px'}" ></p-confirmDialog>
<div class="card"  *ngIf="announcementsList">
    <p-dataView #dv [value]="announcementsList" [paginator]="true" [rows]="9" filterBy="description,title"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid" >
        <ng-template pTemplate="header">
            <div class="p-d-flex p-jc-sm-between  headerD" style="overflow: auto">
                <div  style="flex-wrap: wrap">
                <p-dropdown  [options]="sortOptions"  [(ngModel)]="sortKey" placeholder="Sortuj" (onChange)="onSortChange($event)"
                            styleClass="p-mb-2 p-mb-md-0" ></p-dropdown>

                <span class="p-input-icon-left p-mb-2 p-mb-md-0 p-ml-1">
                    <i class="pi pi-search"></i>
                    <input type="search"  pInputText placeholder="Szukaj" (input)="dv.filter($event.target.value)">
                </span>
                </div>
                <div class="p-d-flex " style=" white-space: nowrap;">
                    <p-button pRipple  icon="pi pi-plus" (click)="openNew()"
                    styleClass="p-button-sm p-button-success p-mr-2" *ngIf="hasRole(['MODERATOR', 'ADMIN'])"></p-button>
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </ng-template>
        <ng-template let-announcement pTemplate="listItem">
            <div class="p-col-12">
                <div class="p-p-1">
                    <i class="pi pi-clock announcement-category-icon"></i>
                    <span class="announcement-user">{{announcement.date | date:'dd/MM/yy H:mm'}}</span>
                </div>
                <div class="announcement-list-item">
                    <div class="announcement-list-detail">
                        <div class="announcement-title p-p-2">{{announcement.title}}</div>
                        <div class="announcement-description p-p-2">{{announcement.description}}</div>
                        <div class="announcement-item-bottom" *ngIf="hasRole(['MODERATOR', 'ADMIN'])">
                            <!--<span class="announcement-user">{{announcement.user.username}}</span>-->
                            <div>
                                <button pButton pRipple type="button" icon="pi pi-times" label="Usuń"
                                class="p-button-sm p-button-rounded p-button-outlined p-button-danger p-mr-2"
                                (click)="deleteAnnouncement(announcement)"></button>
                                <button pButton pRipple type="button" icon="pi pi-check" label="Edytuj"
                                class="p-button-sm p-button-rounded p-button-outlined p-button-success"
                                (click)="editAnnouncement(announcement)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-announcement pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="announcement-grid-item card">
                    <div class="p-p-1">
                        <i class="pi pi-clock announcement-category-icon"></i>
                        <span class="announcement-user">{{announcement.date | date:'dd/MM/yy H:mm'}}</span>
                    </div>
                    <div class="announcement-grid-item-content p-p-2">
                        <div class="announcement-title">{{announcement.title}}</div>
                        <div class="announcement-description">{{announcement.description}}</div>
                    </div>
                    <div class="announcement-item-bottom" *ngIf="hasRole(['MODERATOR', 'ADMIN'])">
                        <!--<span class="announcement-user">{{announcement.user.username}}</span>-->
                        <div>
                            <button pButton pRipple type="button" icon="pi pi-times" label="Usuń"
                            class="p-button-sm p-button-rounded p-button-outlined p-button-danger p-mr-2"
                            (click)="deleteAnnouncement(announcement)"></button>
                            <button pButton pRipple type="button" icon="pi pi-check" label="Edytuj"
                            class="p-button-sm p-button-rounded p-button-outlined p-button-success"
                            (click)="editAnnouncement(announcement)"></button>
                        </div>
                    </div>
                </div>
            </div>

        </ng-template>
    </p-dataView>
</div>

<div class="p-shadow-1 p-p-2"  *ngIf="announcementsList==null" >
<div class="p-grid">
    <div class="p-col-12 p-md-4 "  *ngFor="let number of [0,1,2,3,4,5,6,7,8]">
      <div class="p-b-1 p-p-1">
        <p-skeleton  height="2rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton height="5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton  styleClass="p-mb-2" height="1rem"></p-skeleton>
    </div>
    </div>
</div>
</div>


<p-dialog [(visible)]="announcementDialog"  header="Edycja/zapis ogłoszenia" [modal]="true"
styleClass="p-fluid respDialog" [contentStyle]="{ height:'350px'}" [formGroup]="announcementForm" >
    <ng-template pTemplate="content" >
        <div class="p-field">
            <label for="title">Tytuł * </label>
            <input type="text" pInputText id="title" [(ngModel)]="announcement.title" required autofocus
            formControlName="announcementTitle"/>
        </div>
        <div class="p-field">
            <label for="description">Opis</label>
            <textarea pInputTextarea id="descryption" rows="5" [(ngModel)]="announcement.description"
            formControlName="announcementDescription"></textarea>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
        [disabled]="!announcementForm.valid" (click)="saveAnnouncement()"></button>
        <p-button icon="pi pi-check" (click)="announcementDialog=false; announcementForm.reset()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
