:host ::ng-deep {

  .p-fileupload button{
    min-width:30px!important;
  }
.file-manager{
  border:1px solid rgb(202, 202, 202);
  border-radius: 5px;
  padding: 5px;

    &-header button{
      width: 150px;
      margin-right: 10px;
    }
    &-content{
      padding: 10px;

       &-row{
        display: flex;
        justify-content: space-between;

        & div {
          text-align: left!important;
          display:flex;
          align-items: center;
          border-bottom: 1px dashed rgb(231, 230, 230);
          padding: 10px;
          width:100%;
          color:rgb(109, 108, 108);
          }

       }
       &-row:hover {
        background-color: rgb(231, 230, 230);
      }
    }
    &-uploaded{
     margin: 10px 0 10px 0;
     display: flex;
     align-items: flex-start;
     flex-wrap: wrap;
     gap: 10px 10px;
     padding: 10px;
     justify-content: flex-start;
     cursor: pointer;
     transition: 0.2s;
     &-img{
      width:19%;
      background-color: rgba(0, 0, 0, 0.829);
      border-radius: 5px;
      padding: 1px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.148), 0 3px 6px rgba(0, 0, 0, 0.148);

      & button{
        margin:0 5px 5px 5px;
      }
     img {
          width:100%;
          height: auto;
          image-rendering: pixelated;
          padding: 0;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.148), 0 3px 6px rgba(0, 0, 0, 0.148);
      }
    }
  }
}
}



