  .topnav{
      overflow: hidden;
      position: fixed;
      width:100%;
      min-width: 145px;
      height: 50px;
      top:0px;
      background-color: var(--my-primary-color);
      z-index:2;
      transition:all 0.3s;
    }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
.activeLink{
  background-color: rgba(30, 56, 97, 0.301);
}
  .sideBarOpenSmall{
    float:left;
  }

  .topnav button{
    margin:5px;
  }

  .topnav a:hover {
    background-color: rgba(30, 56, 97, 0.301);
  }

  .topnav .menuBarOpenSmall{
    display: none;
  }

  .topnav .logIcon, .topnav .menuBarOpenSmall{
    float: right;
  }
  @media screen and (max-width: 600px) {

    .topnav a:not(.first) {display: none;}
    .topnav .menuBarOpenSmall {
        float: right;
        display: block;
      }
      .topnav .sideBarOpenSmall {
        float: left;
        display: block;
      }

    .topnav.responsive {
      position: relative;
      height: 200px;

   }

    .topnav.responsive .menuBarOpenSmall {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive .logIcon {
      position: absolute;
      right: 50px;
      top: 0;
}
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .sideBarOpenSmall{
      float: none;
      display: block;
    }
}
