<div class="topnav" id="myTopnav" >
    <button pButton pRipple type="button" icon="pi pi-bars" class="sideBarOpenSmall p-button-rounded"
          onclick="sideBarSmallFunc()"></button>
    <a routerLink="/start" style="color:#61e065" routerLinkActive="activeLink"><span class="pi pi-home"></span> Start</a>
    <a  routerLink="/announcements" routerLinkActive="activeLink"><span class="pi pi-bookmark"></span> Jadłospis</a>

    <button pButton pRipple type="button" icon="pi pi-bars" class="menuBarOpenSmall p-button-rounded"
    onclick="topNavSmallFunc()"></button>
    <button pButton pRipple type="button" routerLink="/login"  icon="pi pi-user"
            class="p-button-rounded p-button-success logIcon"></button>
  </div>
