<div class="topnav" id="myTopnav" >
    <button pButton pRipple type="button" icon="pi pi-bars" class="sideBarOpenSmall p-button-rounded"
          onclick="sideBarSmallFunc()"></button>

    <button pButton pRipple type="button" icon="pi pi-bookmark" routerLink="/announcements" label="Wiadomości"></button>

    <button pButton pRipple type="button" icon="pi pi-bars" class="menuBarOpenSmall p-button-rounded"
    onclick="topNavSmallFunc()"></button>
    <button pButton pRipple type="button" routerLink="/login"  icon="pi pi-user"
            class="p-button-rounded p-button-success logIcon"></button>
  </div>
