.my-btn{
  border-radius: 3px;
}

.my-btn-green{
  color: rgb(111, 143, 111);
  border-color: rgb(111, 143, 111)
}

.my-btn-green:hover{
  color: rgb(50, 151, 50);
  border-color: rgb(96, 160, 96);
  background-color: rgb(217, 241, 217);
}

.my-btn-red{
  color: rgb(216, 83, 83);
  border-color: rgb(216, 83, 83)
}

.my-btn-red:hover{
  color: rgb(218, 56, 56)!important;
  border-color: rgb(245, 83, 83)!important;
  background-color: rgb(250, 227, 227)!important;
}
.my-btn-blue{
  color: rgb(42, 106, 158)!important;
  border-color: rgb(116, 183, 238)!important;
  background-color: rgb(208, 231, 250)!important;
}

.my-btn-blue:hover{
  color:rgb(17, 65, 104)!important;
  border-color: rgb(9, 138, 243)!important;
  background-color: rgb(168, 212, 248)!important;
}
:host ::ng-deep{
@media screen and (max-width:767px) {
  .my-btn-resp{
    width:100%!important;
  }
}
}
.dot {
  cursor: pointer;
  height: 5px;
  width: 15px;
  margin: 0 5px;
  background-color: rgb(131, 131, 131);
  border-radius: 2px;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.dot:hover {
  background-color: rgb(253, 253, 253);
  border: 1px solid rgb(180, 180, 180)
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(201, 201, 201);
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 5%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 5%;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.274);
}
.noborder{
  border: none!important;
}
