.p-1{
  padding:5px
}
.p-2{
  padding:10px
}
.p-3{
  padding:15px
}
.p-4{
  padding:20px
}
.p-5{
  padding:25px
}
.p-6{
  padding:30px
}
.p-7{
  padding:35px
}

.pr-1{
  padding-right:5px
}
.pr-2{
  padding-right:10px
}
.pr-3{
  padding-right:15px
}
.pr-4{
  padding-right:20px
}
.pr-5{
  padding-right:25px
}
.pr-6{
  padding-right:30px
}
.pr-7{
  padding-right:35px
}

.pl-1{
  padding-left:5px
}
.pl-2{
  padding-left:10px
}
.pl-3{
  padding-left:15px
}
.pl-4{
  padding-left:20px
}
.pl-5{
  padding-left:25px
}
.pl-6{
  padding-left:30px
}
.pl-7{
  padding-left:35px
}

.pt-1{
  padding-top:5px
}
.pt-2{
  padding-left:10px
}
.pt-3{
  padding-top:15px
}
.pt-4{
  padding-top:20px
}
.pt-5{
  padding-top:25px
}
.pt-6{
  padding-top:30px
}
.pt-7{
  padding-top:35px
}

.pb-1{
  padding-bottom:5px
}
.pb-2{
  padding-bottom:10px
}
.pb-3{
  padding-bottom:15px
}
.pb-4{
  padding-bottom:20px
}
.pb-5{
  padding-bottom:25px
}
.pb-6{
  padding-bottom:30px
}
.pb-7{
  padding-bottom:35px
}
