@import './css/buttonX.css';
@import './css/prime-table.scss';

:root {
  --my-primary-color: var(--cyan-700);
  --my-secondary-color: var(--blue-300);
  --white: #ffffff;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
 * {
  box-sizing: border-box;
}
.m-1{
      margin:5px!important;
  }
.m-2{
    margin:10px!important;
}
.m-3{
    margin:20px!important;
}
.mt-1{
    margin-top:5px!important;
}
.mt-2{
  margin-top:10px!important;
}
.mt-3{
  margin-top:20px!important;
}
.mt-4{
    margin-top:30px!important;
  }
  .w-100{
      width: 100%!important;
  }
