
@import './css/prime-table.scss';
@import './css/buttons.scss';
@import './css/margin.scss';
@import './css/padding.scss';

:root {
  --my-primary-color: rgb(32, 98, 160);
  --my-secondary-color: var(--blue-300);
  --white: #ffffff;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
 * {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}
.b-light{
  background-color: #f8f8f89c!important;
  border:1px solid whitesmoke
}

  .w-100{
      width: 100%!important;
  }

