@import './css/buttonX.css';
@import './css/prime-table.scss';
body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
.shadow{ box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.03);}
.shadow-sm{ box-shadow: 0px 0px 4px rgba(0,0,0,0.12);}  
.bg-primecolor{
    background-color: #0097a7;
}
.bg-primecolor-light{
    background-color: #56c8d8;
}
.bg-primecolor-dark{
    background-color: #006978;
}
.active {    
    color:#ffd64f!important;
  }
  .active:hover{
      color: rgb(226, 62, 2)!important;
  }
  .btn-round{
      padding: 10px 15px !important;
      border-radius: 40px;
      margin:auto
  }
  .m-1{
      margin:5px!important;
  }  
  .m-2{
    margin:10px!important;
}
.m-3{
    margin:20px!important;
}
.mt-1{
    margin-top:5px!important;
}  
.mt-2{
  margin-top:10px!important;
}
.mt-3{
  margin-top:20px!important;
}
.mt-4{
    margin-top:30px!important;
  }
  .w-100{
      width: 100%!important;
  }
